<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Zipper</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
    <style>
      section {
        background-size: 100% 100%
      }
    </style>
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Zipper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#struggles">Struggles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#solutions">Solutions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#learn">Learn More</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>English Common Assignment</h1>
        <p class="lead">Jacob Zipper</p>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>About Me</h2>
            <ul>
              <li>First Year CS</li>
              <li>English 1101</li>
              <li>After Nature</li>
              <li>McKenna Rose</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section style="background-image: url('img/natback.jpg');"></section>
    <section></section>
    <section></section>
    <section style="background-image: url('img/natback2.jpg');"></section>


    <section id="struggles" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Struggles In This Class</h2>
            <ul>
              <li>Take things too literally</li>
              <li>Trouble analyzing written text</li>
              <li>Will probably struggle with <em>The History of King Lear</em></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section style="background-image: url('img/csback.jpg');"></section>
    <section></section>
    <section></section>
    <section style="background-image: url('img/csback2.jpg');"></section>

    <section id="solutions">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Solving The Problem</h2>
            <ul>
              <li>Pay attention to details</li>
              <li>Participate in class discussion</li>
              <li>Ask for help when I need help</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section style="background-image: url('img/inspback.jpg');"></section>
    <section></section>
    <section></section>
    <section style="background-image: url('img/inspback2.jpg');"></section>

    <section id="learn">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Even More :^)</h2>
            <ul>
              <li>Access this website at <a href="http://zipper1101.ga">zipper1101.ga</a></li>
              <li>Learn more about me at <a href="http://jacobzipper.com">jacobzipper.com</a></li>
              <li>Source code at <a href="https://github.com/jacobzipper/english1101">github.com/jacobzipper/english1101</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Jacob Zipper 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="js/scrolling-nav.js"></script>

  </body>

</html>
